

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 5%;
    padding-bottom: 20% !important;
}

/**** App Hinweis ****/
#androidhinweis, #ioshinweis {
  display: none;  
}

.apphinweis {
    width: 100%;
    height: 70px;
    background-color: #eee;
    margin-bottom: 20px;
    padding: 5%;
}

.apphinweis .text {
    width: 80%;
    float:left;
}

.apphinweis .icon {
    width: 20%;
    float: right;
    text-align: center;
    font-size: 30px;
    color: #555;
}

.owl-item .item {
    text-align: center;
}

.owl-item .item .header {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    height: 50;
    margin-bottom: 30px;
}

.owl-item .item .number {
    color: white;
    background-color: #B8D59E;
    float:left;
    width: 40px;
    font-size: 30px;
    padding: 10px 0;
    margin-right: 10px;
    line-height: 20px;
    text-align: center;
    color: #1E7840;
}

.owl-item .item .title {
    text-align: left;
    font-size: 15px;
/*    padding: 10px 0;*/
    line-height: 20px;
    font-weight: bold;
    color: #1C7339;
}

.owl-item .item .title.one-line {
    padding: 10px 0px;
}

.owl-item .item  .text {
    text-align: left;
    font-size: 15px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
}

.owl-item img {
    width: 90%;
}

.owl-page {
    width: 25px;
    height: 20px;
    padding-top: 12px;
}

.owl-page span{
    height: 12px !important;
    width: 12px !important;
}

.owl-page.active span{
    background-color: #1E7840 !important;
}

.owl-controls {
    width: 100%;
    background-color: #eee;
    position: fixed;
    bottom: 0px;
    margin-top: 0px;
}

.owl-pagination {
    height: 0px;
}

.owl-buttons {
    position: relative;
}

.owl-controls div.owl-prev {
    background-color: #eee !important;
    color: #333 !important;
    font-weight: 200 !important;
    font-size: 15px !important;
    padding-top: 8px !important;
    float:left;
}

.owl-controls div.owl-next {
    background-color: #eee !important;
    color: #333 !important;
    font-weight: 200 !important;
    font-size: 15px !important;
    padding-top: 8px !important;
    float:right;
}
